@tailwind base;
@tailwind components;
@tailwind utilities;

.landingpage {
  background-image: url('../assets/background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.landingpage {
  background-image: url('../assets/background.png');
  background-size: cover;
  background-repeat: no-repeat;
}