@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  background-image: url('../assets/background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.DialogOverlay {
  background-color: var(--blackA9);
  position: fixed;
  inset: 0;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}